<section class="dashboard">
    <div class="dashboard__grid ">
        <article class="card">
            <h3 class="card-title__today fw-bold">Hoy</h3>
            <span class="stat-number">{{servicioDashboard.turnosHoy().length}}</span>
            <p class="stat__text">Turnos</p>  
        </article> 
        <article class="card">
            <h3 class="card-title__week fw-bold">Semana</h3>
            <span class="stat-number">{{servicioDashboard.turnosSemana().length}}</span>
            <p class="stat__text">Turnos</p>
        </article> 

        <article class="card">
            <h3 class="card-title__pending fw-bold">Pendientes</h3>
            <span class="stat-number">{{servicioDashboard.turnosPendientes().length}}</span>
            <p class="stat__text">Sin Atender</p>
        </article> 
    </div>
    <div class="appointment-today">
        <h2 class="appointment__title fw-bold"><i class="fa-solid fa-calendar-days" style="color: #0891b2;"></i> Turnos De Hoy</h2>
    <div class="table-container">
        <table class="appointment__table">
            <thead>
                <tr class="appointment__table-header">
                    <th class="appointment__table-col">Fecha</th>
                    <th class="appointment__table-col">Hora</th>
                    <th class="appointment__table-col">Nombre</th>
                    <th class="appointment__table-col">Dueño</th>
                    <th class="appointment__table-col">Razon</th>
                    <th class="appointment__table-col">Accion</th>
                </tr>
            </thead>
            <tbody>
                @for (turno of paginatedItems; track $index){
                <tr class="appointment__table-row">
                    <td class="appointment__table-col">{{turno.fecha}}</td>
                    <td class="appointment__table-col">{{turno.hora}}</td>
                    <td class="appointment__table-col">{{turno.nombre}}</td>
                    <td class="appointment__table-col">{{turno.dueno}}</td>
                    <td class="appointment__table-col">{{turno.razon}}</td>
                    <td class="appointment__table-col">
                        <div class="actions">
                            <button class="btn-action btn__confirm" (click)="servicioDashboard.confirmar(turno.id)">
                                <i class="fa-solid fa-check"></i> Atendido
                            </button>
                            @if (turno.estado !== 'atendido') {
                                <button class="btn-action btn__edit" (click)="servicioDashboard.edit(turno)">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                                <button class="btn-action btn__delete" (click)="servicioDashboard.cancel(turno.id)">
                                    <i class="fa-solid fa-trash"></i> Cancelar
                                </button>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.actived]="currentPage === 1">
                    <a class="page-link"  (click)="changePage(currentPage - 1)">Anterior</a>
                </li>
                @for (p of pages; track p) {
                <li class="page-item" [class.actived]="p === currentPage">
                    <a class="page-link"(click)="changePage(p)">{{ p }}</a>
                </li>
                }
                <li class="page-item" [class.actived]="currentPage === total">
                    <a class="page-link" (click)="changePage(currentPage + 1)">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>    
    </div>
</section>

@for (p of listaTurnos; track p) {
<div>
    <p>{{ p.nombre}}</p>
</div>
}